{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block content %}
<br><br><br><br>
<h1 align="center">Ajouter Specialite</h2>
<div class="container">
    {{ form(form) }}
</div>
{% endblock %}
